<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Blog</h1>
    <form action="/newblog" method="post">
        <input type="title" name="title">
        <br>
        <br>
        <input type="url" name="img">
        <br>
        <br>
        <select name="" id="">
            <option value="6502baa307ca1298bd37ebd1">sports</option>
            <option value="6502bac407ca1298bd37ebd3">dance</option>
            <option value="6502bace07ca1298bd37ebd5">singing</option>
        </select>
        <br>
        <br>    
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>